
<title>Candidate Registration</title>
<img src="../../assets/img/t.png" alt="login form"
        style="width: 30%;" />
<section class="vh-100 gradient-custom">  

    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Candidate Registration</h3>
              <form>
       <!-- Full Name -->
                <div class="row">
                  <div class="col-md-6 mb-4">  
                    <div class="form-outline">
                      <label class="form-label" for="firstName">Full Name</label><br>
                      <input type="text" id="fullName" class="lineformat" />                      
                    </div>  
                  </div>
       <!-- Email -->
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <label class="form-label" for="email">Email</label><br>
                      <input type="text" id="email" class="lineformat" />  
                                         
                    </div>  
                  </div>                  
                </div>
     <!-- DOB -->
                <div class="row">
                  
                    <div class="col-md-6 mb-4">
                    <div class="">
                        
                        <label class="form-label" for="date">DOB</label><br>
                        <input type="date"  />                      
                      </div> 
                    </div>                    
                  
    <!-- Gender -->          
                  <div class="col-md-6 mb-4">
                    <label class="form-label" for="gender">Gender</label><br>                  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                        value="option1" checked />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                        value="option2" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                        value="option3" />
                      <label class="form-check-label" for="otherGender">Other</label>
                    </div>
  
                  </div>
                </div>
  <!-- Address --> 
                <div class="row">
                <div class="col-md-6 mb-4">  
                    <div class="form-outline">
                      <label class="form-label" for="Address">Address</label><br>
                      <textarea></textarea>                      
                    </div>  
                </div>
<!-- Phone Number --> 
                <div class="col-md-6 mb-4 pb-2">  
                <div class="form-outline">
                      <label class="form-label" for="phoneNumber">Phone Number</label> <br> 
                      <input type="number" id="phoneNumber" class="lineformat" />                      
                </div>  
                </div>   
                </div>
<!-- city -->  
 
                    <div class="row">
                    <div class="col-md-6 mb-4 pb-2">  
                        <div class="form-outline">
                          <label class="form-label" for="Address">City</label><br>
                          <input type="text" id="city" class="lineformat" />                       
                        </div> 
                    </div>

<!-- country -->  
                    <div class="col-md-6 mb-4 pb-2">  
                        <div class="form-outline">
                        <label class="form-label" for="Address">Country</label><br>
                        <input type="text" id="country" class="lineformat" />                       
                        </div> 
                    </div>
                    </div>

<!-- Nationality -->   
                    <div class="row">
                    <div class="col-md-6 mb-4 pb-2">  
                        <div class="form-outline">
                        <label class="form-label" for="Address">Nationality</label><br>
                        <input type="text" id="nationality" class="lineformat" />                       
                        </div> 
                    </div>
 <!-- Current Company --> 
                    <div class="col-md-6 mb-4 pb-2">  
                        <div class="form-outline">
                        <label class="form-label" for="currentCompany">Current Company</label><br>
                        <input type="text" id="nationality" class="lineformat" />                       
                        </div> 
                    </div>                  
                  </div>

    <!-- Current Position -->  
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2"> 
                        <div class="form-outline">
                            <label class="form-label" for="currentCompany">Current Position</label><br>
                            <input type="text" id="nationality" class="lineformat" /> <br><br>                      
                        </div>
                    </div>
    <!-- Current CTC --> 
                    <div class="col-md-6 mb-4 pb-2"> 
                        <div class="form-outline">
                            <label class="form-label" for="currentCompany">Current CTC</label><br>
                            <input type="text" id="nationality" class="lineformat" /> <br><br>                      
                        </div>
                    </div>                                     
                </div>
    <!-- YOE --> 
                <div class="row">
                    <div class="col-md-6 mb-4 pb-2"> 
                        <label class="form-label select-label">Year Of Experience</label><br>
                        <select class="lineformat" >
                          <option value="1" ></option>
                          <option value="2">0</option>
                          <option value="3">1-2</option>
                          <option value="4">2-3</option>
                          <option value="4">Above 3</option>
                        </select>                 
                    </div>  
    <!-- Expected CTC --> 
                    <div class="col-md-6 mb-4 pb-2"> 
                            <div class="form-outline">
                                <label class="form-label" for="currentCompany">Expected CTC</label><br>
                                <input type="text" id="nationality" class="lineformat" /> <br><br>                      
                            </div>
                    </div>                            
                </div>
    <!-- Skills --> 
                <div class="row">
                    <div class="col-md-6 mb-4 pb-2"> 
                        <div class="form-outline">
                            <label class="form-label" for="currentCompany">Skills</label><br>
                            <input type="text" id="nationality" class="lineformat" />                       
                        </div>
                    </div>  
                </div>
  <!-- Button --> 
                <div class="mt-4 pt-2">
                  <input class="loginbtn" type="submit" value="Submit" />
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>